:root {
--main-color: black;
}

body {
    max-width: 980px;
    margin: auto;
}

.img-logo {
    background-image: url(../img/shopping-cart);
    border-color: #9c29b7;
    border-style: dashed;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: #9c29b7;
    margin: 0rem;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    background-color: #9c29b7;
    padding: 1rem;
    border-color: white;
}

.main-menu a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: var(--main-color);
    padding: 1rem;
}

.main-menu a:hover {
    border: 0px solid;
    background-color: #631878;
}

.search {
    background: #e6e6e6;
    justify-content: center;
    padding: 0.5rem;
}

header h1, .main-menu, .search, .img-logo {
    margin-left: -0.5rem;
    margin-right: -0.5rem;   
}

.only-desktop {
    display: none;
}

@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items: center;
    }

    .img-logo {
        border: none;

    }

    .search {
        background-color: white;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }
    
    .only-desktop {
        display: flex;
    }

    header .second-menu {
        list-style: none;
        background-color: #9c29b7;
    }

    .contact-desktop {
        display: flex;
        justify-content: flex-end;
    }
}


header .banner {
    background-image: url(../img/ckc-16.jpg);
    background-position: center;
    background-size: cover;
    min-height: 550px;
}